<div class="container p-5">
    <div class="container p-3" style="text-align: center; ">
        <h1><span style="padding:20px; background:red; color: white; border:red 2px solid; border-radius:15px;">
                YouTube</span> &#8594; <span
                style="padding:20px; background:#1DB954;  border:#1DB954 2px solid; border-radius:15px; color:black;">Spotify</span>
        </h1>
    </div>
    <div class="container p-5 ">
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="Playlist URL YouTube" class="form-label">Playlist URL YouTube</label>
                <input type="text" name="playlist" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="Name for Spotify Description" class="form-label">Name for Spotify Playlist</label>
                <input type="text" name="name" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="Playlist Description" class="form-label">Playlist Description</label>
                <input type="text" name="description" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>